body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text */
}

a {
    color: #bb86fc; /* Light purple links for contrast and visibility */
}

/* Change the background color and text color of input and textarea elements */
input, textarea {
    background-color: #232323; /* Slightly lighter than body background */
    color: #e0e0e0; /* Same as body text color */
}

/* Change the color of button elements */
button {
    background-color: #bb86fc; /* Same as link color */
    color: #121212; /* Same as body background color */
}